
.ios, .md {
  
  ion-icon {
    font-size: 25px !important;
}
page-searchlist {
   p    { color : green;}
   p em {color:red;}


    ion-footer {
      height: 50px;
      background-color: map-get($colors, light);
  }

h3 {
   font-size:90%;
   font-family: arial;
   color:darkred;
 }
 
ion-content{
  height: 100%;
}

  ion-grid, ion-card,ion-row, ion-col {
      height: 100%;
  }

  ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

 // @-webkit-keyframes slideInBothWays {
//   0% {
//     -webkit-transform: translate3d(-100%,0,0);
//   }
 
//   50% {
//     -webkit-transform: translate3d(50%,0,0);
//   }
 
//   100% {
//     -webkit-transform: translate3d(0,0,0);
//   }
// }
 
// .slide-in-both-ways {
//    -webkit-animation: slideInBothWays ease-in 1; 
//   animation: slideInBothWays ease-in 1;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-duration: 750ms;
//   animation-duration: 750ms;
// }

// @-webkit-keyframes animateInPrimary {
//   0% {
//     -webkit-transform: translate3d(-100%,0,0);
//   }
 
//   100% {
//     -webkit-transform: translate3d(0,0,0);
//   }
// }
 
// @-webkit-keyframes animateInSecondary{
 
//   0% {
//     opacity: 0;
//   }
 
//   50% {
//     opacity: 0;
//   }
 
//   100% {
//     opacity: 1;
//   }
// }
 
// .animate-in-primary {
//     -webkit-animation: animateInPrimary;
//     animation: animateInPrimary;
//     -webkit-animation-duration: 750ms;
//     animation-duraton: 750ms;
// }
 
// .animate-in-secondary {
//     -webkit-animation: animateInSecondary ease-in 1;
//     animation: animateInSecondary ease-in 1;
//     -webkit-animation-duration: 750ms;
//     animation-duraton: 750ms;
// }

// @-webkit-keyframes bounce {
//   0% {
//     -webkit-transform: translate3d(0,0,0);
//   }
 
//   25% {
//     -webkit-transform: translate3d(0,-30%,0);
//   }
 
//   50% {
//     -webkit-transform: translate3d(0,0,0);
//   }
 
//   75% {
//     -webkit-transform: translate3d(0,-30%,0);
//   }
 
//   100% {
//     -webkit-transform: translate3d(0,0,0);
//   }
// }
 
// .bounce-animation {
//   -webkit-animation: bounce ease-in 1; 
//   animation: bounce ease-in 1;
//   -webkit-animation-duration: 1000ms;
//   animation-duration: 1000ms;
// }

.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    virtual-scroll {
      display: block;
      width: 100%;
      height: 500px
      ;
    }
    list-item {
      display: block;
      width: 100%;
      height: 30px;
    }
   
  }

  