<ion-header>
    <ion-navbar hideBackButton color="primary">
        <ion-buttons left>
            <button ion-button (click)="restartGame()">
                <ion-icon name="arrow-back">&nbsp;</ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>{{siteName}} - Mix and Match Game </ion-title>

        <!--  <button ion-button round (click)="close()">Close</button> -->
    </ion-navbar>

</ion-header>
<ion-content>
    <h3 padding text-center>Match the {{items.length}} words.</h3>
    <ion-card id="icard" padding>
        <ion-col id="columns" col-auto no-padding *ngFor="let item of items let i = index;" draggable="true">
            <button id={{item.en}} class="column" color="secondary" ion-button  outline draggable="true">
                {{item.fl}}
            </button>
        </ion-col>

    </ion-card>
    <ion-card id="icard1" padding>
        <ion-col id="columns" no-padding *ngFor="let it of itemsRandom let en = index;" draggable="true">
            <button id={{it.fl}} class="column" color={{it.color}} ion-button  outline draggable="true">
                {{it.en}}
            </button>
        </ion-col>
    </ion-card>
</ion-content>
<ion-footer>

    <ion-card>
        <div>
           <h2 style="color: green;" no-padding text-center  id="score"></h2>
            <h2 no-padding text-center id="timer"></h2>
        </div>
        <button padding *ngIf="interVl==0" (click)="restartGame()" ion-button full color={{theme}}>Start Again</button>
    </ion-card>

</ion-footer>