<!--
  Generated template for the Record page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-padding>
  <!-- <ion-row style="background-color:#001a33;">
    <ion-col col-2>
      <ion-avatar item-left>
        <img src="assets/img/Icon-40.png">
      </ion-avatar>
    </ion-col>
    <ion-col col-8>
      <ion-label text-center color="light">{{siteName}} - Simplified Pronunciation Feedback</ion-label>
    </ion-col>
    <ion-col col-2>
      <ion-avatar item-right>
        <img src="assets/img/dliIcon.png">
      </ion-avatar>
    </ion-col>
  </ion-row>-->
  <ion-navbar hideBackButton color={{theme}}>
    <ion-buttons left>
      <button ion-button (click)="close()">
        <ion-icon name="arrow-back">&nbsp;Back</ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center tappable (click)="close()">{{siteName}} - {{filterTitle}} ({{allItems.length}} items)
    </ion-title>
    <ion-buttons  end>
      <button style="padding-right:13px;"  tooltip="Audio on/off"  positionV="bottom" ion-button large  *ngIf="isAudioOn" (click)="toggleAudio($event)">
        <ion-icon name="volume-up"></ion-icon>
      </button>
      <button style="padding-right:13px;"  tooltip="Audio on/off"  positionV="bottom" ion-button large  *ngIf="!isAudioOn" (click)="toggleAudio($event)">
        <ion-icon name="volume-off"></ion-icon>
      </button>
      <button  large ion-button tooltip="Show/hide both Context and Vocab"  positionV="bottom" *ngIf="isShowAll" (click)="toggleShowAll()">
        <ion-icon name="eye">&nbsp;</ion-icon> 
      </button>
      <button  large ion-button tooltip="Show/hide both Context and Vocab"  positionV="bottom"  *ngIf="!isShowAll" (click)="toggleShowAll()">
        <ion-icon name="eye-off">&nbsp;</ion-icon> 
      </button>
    </ion-buttons>
    <!--  <button ion-button round (click)="close()">Close</button> -->
  </ion-navbar>
  <h3 style="padding-top:0px;text-align:center; color:darkred;">&nbsp;{{ item.lesson }} {{item.lessonId }}
      &nbsp;{{ item.sublesson }} {{item.sublessonId }}</h3>

</ion-header>

<ion-content>
   <ion-card>
    <ion-slides no-margin #mySlider (ionSlideDidChange)="playSlide()" (ionSlideReachEnd)="getNextItem()">
      <ion-slide *ngFor="let item of items ;  let id=index">
      <!--   <h3 style="font-size:80%; text-align:left; color:darkred;">&nbsp;{{ item.lesson }} {{item.lessonId }}
          &nbsp;{{ item.sublesson }} {{item.sublessonId }}&nbsp; ID:{{item.id }}</h3>
        <button ion-button right  text-right large clear  (click)="context(item)" ><ion-icon  name="quote">Context Sentence</ion-icon> </button> -->
       

        <h1 style="padding-top:18px;padding-bottom:0px;color:green; text-align:center;" tappable (click)="man(item,id,$event)" *ngIf="!selectedCtx || isShowAll ">
          {{ item.fl }}</h1>
         <h2 no-padding  style="color:rgb(140, 0, 255);padding-top:0px" *ngIf="(isBoth && !selectedCtx ) || isShowAll ">
         {{ item.en }} </h2>
        <h2> {{item.tl }}</h2>
        <div padding-left padding-right tappable (click)="playRecord(item,item.id)" id=recordPh{{item.id}} text-wrap
        *ngIf="(recordType=='vocab' && isBoth && !selectedCtx ) || isShowAll"></div>

        <h1 dir={{rtl}} id={{item.id}} style="padding-top:20px;color:blue;padding-bottom:0px" tappable (click)="man(item,id,$event)" *ngIf="selectedCtx || isShowAll ">
        {{ item.ct }} </h1>
        <h2 no-padding dir={{rtl}} id={{item.id}} 
        style="color:rgb(234, 0, 255);padding-top:0px" *ngIf="(isBoth && selectedCtx) || isShowAll ">
        {{ item.ctr }} </h2> <!--tappable  (click)="playEnglish(item)-->
        <!--<p padding tappable wrap (click)="context(item)" style="color:blue;" >Context: {{item.ct }} </p> 
        <div padding tappable wrap  id=recordFl{{item.id}} text-wrap></div> -->
        <!---->
        <div padding-left padding-right tappable (click)="playRecord(item,item.ctid)" id=recordPh{{item.ctid}} text-wrap
          *ngIf="(recordType=='context' && isBoth && selectedCtx) || isShowAll"></div>

        <div *ngIf="isSpinner">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>


        <!--display highCharts -->
        <ion-fab bottom color="light" clear  right>
          <button ion-fab mini clear color="light" >
            <div id=container{{item.id}} tappable (click)="playRecord(item,item.id)" *ngIf="recordType=='vocab'"></div>
            <div id=container{{item.ctid}} tappable (click)="playRecord(item,item.ctid)" *ngIf="recordType=='context'"></div>
          </button>
        </ion-fab>

        <ion-row style="padding-top:50px">

        <!-- <ion-col col-6 >
            <button ion-button round  block color={{recordColor}} 
              (click)="recordTest(item,'vocab')" >
              <ion-icon name={{recordIcon}}>&nbsp;Vocab test</ion-icon>
            </button>
          </ion-col>--> 

          <ion-col col-6 *ngIf="!isAutoPlay && isShowAll">
            <button ion-button round ion-long-press block color={{recordColor}} [interval]="400"
              (onPressStart)="record(item,'vocab')" (onPressEnd)="endRecord(item,'vocab')">
              <ion-icon name={{recordIcon}}>&nbsp;Vocab</ion-icon>
            </button>
          </ion-col>
          <ion-col col-6 *ngIf="!isAutoPlay && isShowAll">
            <button ion-button round ion-long-press block color={{recordColorCtx}} [interval]="400"
              (onPressStart)="record(item,'context')" (onPressEnd)="endRecord(item,'context')">
              <ion-icon name={{recordIcon}}>&nbsp;Context</ion-icon>
            </button>
          </ion-col>
          <button ion-button round *ngIf="!isAutoPlay && !isShowAll && !selectedCtx" ion-long-press block color={{recordColor}} [interval]="400"
          (onPressStart)="record(item,'vocab')" (onPressEnd)="endRecord(item,'vocab')">
          <ion-icon name={{recordIcon}}>&nbsp;Vocab</ion-icon>
        </button>

        <button ion-button round *ngIf="!isAutoPlay && !isShowAll && selectedCtx" ion-long-press block color={{recordColorCtx}} [interval]="400"
        (onPressStart)="record(item,'context')" (onPressEnd)="endRecord(item,'context')">
        <ion-icon name={{recordIcon}}>&nbsp;Context</ion-icon>
      </button>
          <!--    <ion-col col-6 *ngIf="!isAutoPlay" >
             <button ion-button block round color={{recordColor}} (click)="record(item,'vocab')" *ngIf="!item.isRecord">
              <ion-icon name={{recordIcon}}>&nbsp;Vocab</ion-icon>
            </button>
            <button ion-button block round color={{recordColor}} (click)="endRecord(item,'vocab')" *ngIf="item.isRecord">
              <ion-icon name={{recordIcon}}></ion-icon>
            </button>
           </ion-col>
          <ion-col col-6 *ngIf="!isAutoPlay" >
              <button ion-button block round color={{recordColorCtx}} (click)="record(item,'context')" *ngIf="!item.isRecordCtx">
                <ion-icon name={{recordIcon}}>&nbsp;Context</ion-icon>
              </button>
              <button ion-button block round color={{recordColorCtx}} (click)="endRecord(item,'context')" *ngIf="item.isRecordCtx">
                <ion-icon name={{recordIcon}}></ion-icon>
              </button>
            </ion-col>  -->
          <!--   <ion-col  col-4>
           <button *ngIf="item.h[item.h.length-1]==='Y'" ion-button outline block color="secondary" (click)="playRecord(item)">
              {{(item.scores[item.scores.length-1].valueOf() * 100).toFixed(0)}}&nbsp;
              <ion-icon name="checkmark-circle"></ion-icon>
            </button>
            <button *ngIf="item.h[item.h.length-1]==='N' && item.scores[item.scores.length-1].valueOf()>0" ion-button outline block color="danger"
              (click)="playRecord(item)">
              {{(item.scores[item.scores.length-1].valueOf() * 100).toFixed(0)}}&nbsp;
              <ion-icon name="close-circle"></ion-icon>
            </button>
            <button *ngIf="item.h[item.h.length-1]==='N' && item.scores[item.scores.length-1].valueOf()==-1" ion-button outline block
              color="danger" (click)="playRecord(item)">
              0&nbsp;
              <ion-icon name="close-circle"></ion-icon>
            </button>
            <button *ngIf="item.h.length===0" ion-button block color="light">

              <ion-icon name="mic-off"></ion-icon>
            </button>
          </ion-col>
            <ion-col *ngIf="item.s>0 &&  item.scores.length==0" col-4>
             
         <button  *ngIf="item.h[item.h.length-1]==='Y'" ion-button outline block color="secondary" (click)="playRecord(item)">
              {{item.s}}&nbsp;
              <ion-icon name="checkmark-circle"></ion-icon>
            </button>
            <button  *ngIf="item.h[item.h.length-1]==='N'" ion-button outline block color="danger" (click)="playRecord(item)">
              {{item.s}}&nbsp;
              <ion-icon name="close-circle"></ion-icon>
            </button>
            <button  *ngIf="item.h[item.h.length-1]==='N'" ion-button outline block color="danger" (click)="playRecord(item)">
              0&nbsp;
              <ion-icon name="close-circle"></ion-icon>
            </button>
            <button  *ngIf="item.h.length===0" ion-button block color="light">

              <ion-icon name="mic-off"></ion-icon>
            </button>
          </ion-col> -->
        </ion-row>

      </ion-slide>
    </ion-slides>
  </ion-card>

</ion-content>
<ion-footer>

  <ion-list>
    <ion-item>
      <ion-row>

        <ion-col no-padding col-2>
          <button ion-button block color={{theme}}  tooltip="Slow playback" arrow=true  positionV="bottom" (click)="changeSpeed()" *ngIf="!selectedSlow">
            <ion-icon name="turtle-press"></ion-icon>
          </button>
          <button ion-button outline block color={{theme}} tooltip="Normal playback" arrow=true  positionV="bottom"  (click)="changeSpeed()" *ngIf="selectedSlow">
            <ion-icon name="turtle"></ion-icon>
            <!-- for outline customizable
                      <ion-icon  name="turtle-press" ></ion-icon>-->
          </button>
        </ion-col>
        <ion-col no-padding col-2>
          <button ion-button block color="secondary" tooltip="Show context sentence" arrow=true  positionV="bottom" (click)="contextItem()" *ngIf="!selectedCtx">
            <ion-icon name="quote"></ion-icon>
          </button>
          <button ion-button block outline color="secondary" tooltip="Hide context sentence" arrow=true  positionV="bottom"  (click)="contextItem()" *ngIf="selectedCtx">
            <ion-icon name="quote"></ion-icon>
          </button>
        </ion-col>


        <ion-col no-padding col-2>
          <button ion-button block (click)="both()" tooltip="Show and play both languages" arrow=true  positionV="bottom" color={{theme}} *ngIf="!isBoth">ENG </button>
          <button ion-button outline block (click)="both()"  tooltip="Hide english" arrow=true  positionV="bottom" *ngIf="isBoth">ENG</button>
        </ion-col>
        <ion-col no-padding col-2>
          <button ion-button outline block (click)="startAutoPlay()" tooltip="Start Auto play" arrow=true  positionV="bottom" color={{theme}} *ngIf="!isAutoPlay">
            <ion-icon name="play">
              </ion-icon>
          </button>
          <button ion-button outline block (click)="stopAutoPlay()" tooltip="Stop Auto play" arrow=true  positionV="bottom" color={{theme}} *ngIf="isAutoPlay">
            <ion-icon name="square"></ion-icon>
          </button>
        </ion-col>

        <ion-col no-padding col-2>
          <button ion-button outline block color={{theme}} (click)="slidePrevious()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>

        </ion-col>
        <ion-col no-padding col-2>
          <button ion-button outline block color={{theme}} (click)="slideNext()">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>


        <!---   <ion-col col-2>
              <button ion-button outline block (click)="shuffle()" color={{theme}} *ngIf="!isShuffle">
                <ion-icon name="shuffle"></ion-icon>
              </button>
              <button ion-button outline block (click)="stopShuffle()" color={{theme}} *ngIf="isShuffle">
                <ion-icon name="square"></ion-icon>
              </button>
            </ion-col>  -->
      </ion-row>
    </ion-item>
    <!--
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="toggleEnglish()">
          <ion-icon name="close-circle"></ion-icon>
          {{englishLabel}}
        </button>
        <button ion-button color="secondary" (click)="toggleContext()">
          <ion-icon name="text"></ion-icon>
          {{contextLabel}}
        </button>
      </ion-item-options>-->
  </ion-list>
</ion-footer>